body  {
    font-size: 12pt;
    font-family: medium;
}

input[type=text], select, textarea {
       width: 20%;
       margin: 3px;      
       border: 2px, solid #00ff;
       border-radius: 2px;
}