body {
    background-color:lightblue; 
    color: darkblue;
}

img { 
    border: 2px red dashed;
    width: 600px;
    height: 300px;
}      

h3  {
    text-align: center;
}

iframe  {
    width: 560px; 
    height: 315px;
}


    